.bagpack {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.bagpack section {
  width: clamp(80rem, 80%, 90rem);
  margin: 3rem auto 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bagpack h2 {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}
